
body{
    background-color: #183A4A;
}

.numb{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 150px;
    /* width: 100px; */
    background-color: #3D88AE;
    color:black;

}


.col{
    width: calc(100% / 9);
    margin:1rem;
}

.bg_green{
    background-color: #61D2A4;
}


.bg_yellow{
    background-color: #F9D277;
}

.bg_red{
    background-color: #DE5471;
}